{{- "" -}}{%- for message in messages -%}{%- if message['role'] == 'system' -%}{{- "System:\n" + (message['content'] | trim) + "\n\n" -}}{%- elif message['role'] == 'user' -%}{{- "User:\n" + (message['content'] | trim) + "\n\n" -}}{%- elif message['role'] == 'assistant' -%}{{- "Assistant:\n" + (message['content'] | trim) + eos_token -}}{%- endif -%}{%- endfor -%}{%- if add_generation_prompt -%}{{- "Assistant:\n" -}}{%- endif -%}
